@model IEnumerable<MvcCore.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}
@{
    string header = "";
    switch (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT"))
    {
        case "Development":
            header = "Development Task List";
            break;
        case "Production":
            header = "Production Task List";
            break;
        default:
            header = "Task list";
            break;
    }
}
<h1>@header</h1>

<p>
    <a asp-action="Create">Add new task</a>
    <h3></h3>
    <a asp-action="Import">Import from text file</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div style="display: flex;">
                    @Html.ActionLink("Done", "Done", new { id=item.TaskId }) &nbsp;
                    @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) &nbsp;
                        @if (User.IsInRole("Viewer"))
                        {
                            @Html.ActionLink("Details", "Details", new { id=item.TaskId })

                        } &nbsp;
                        <div class="control-to-hide">
                            <Authorize Policy="AdminPolicy">
                                @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
                            </Authorize>
                        </div>

                </div>
            </td>
        </tr>
}
    </tbody>
</table>
