@model IEnumerable<MvcCore.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}
@{
    string header = "";
    switch (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT"))
    {
        case "Development":
            header = "Development Task List";
            break;
        case "Production":
            header = "Production Task List";
            break;
        default:
            header = "Task list";
            break;
    }
}
<h1>@header</h1>

<p>
    <a asp-action="Create">Add new task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Done", "Done", new { id=item.TaskId }) |
                @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) |
                @Html.ActionLink("Details", "Details", new { id=item.TaskId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TaskId  })
            </td>
        </tr>
}
    </tbody>
</table>
